<nav class="site-foot" aria-label="Primary">
  <div class="site-foot__links">
    <a class="internal-link" href="{{ site.baseurl }}/notes/">Notes</a>
    <a class="internal-link" href="{{ site.baseurl }}/travels/">Travels</a>
    <a class="internal-link" href="{{ site.baseurl }}/photos/">Visual Diary</a>
    <a class="internal-link" href="{{ site.baseurl }}/media/">Media Diet</a>
    <a class="internal-link" href="{{ site.baseurl }}/about">About</a>
  </div>
  <div class="site-foot__meta">© {{ site.time | date: "%Y" }} <a class="internal-link" href="{{ site.baseurl }}/about">{{ site.title }}</a> · <a class="internal-link" href="{{ site.baseurl }}/colophon">Colophon</a> · <a class="internal-link" href="{{ site.baseurl }}/changelog/">Changelog</a></div>
</nav>
