{%- assign path = page.url -%}
<nav class="site-nav" aria-label="Primary">
  <a class="internal-link site-nav__title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <div class="site-nav__links">
    <a class="internal-link site-nav__link{% if page.layout == 'note' or path contains '/tableofcontents' %} is-active{% endif %}" href="{{ site.baseurl }}/tableofcontents/">Notes</a>
    <a class="internal-link site-nav__link{% if page.layout == 'photo' or page.layout == 'photos_stream' or path contains '/photos' %} is-active{% endif %}" href="{{ site.baseurl }}/photos/">Photos</a>
    <a class="internal-link site-nav__link{% if path contains '/travels' %} is-active{% endif %}" href="{{ site.baseurl }}/travels/">Travels</a>
    <a class="internal-link site-nav__link{% if page.layout == 'media' or path contains '/media' %} is-active{% endif %}" href="{{ site.baseurl }}/media/">Media</a>
    <a class="internal-link site-nav__link{% if page.layout == 'concert' or path contains '/concerts' %} is-active{% endif %}" href="{{ site.baseurl }}/concerts/">Concerts</a>
    <a class="internal-link site-nav__link{% if path contains '/about' %} is-active{% endif %}" href="{{ site.baseurl }}/about">About</a>
  </div>
</nav>
